<section ng-controller="PostersController" ng-init="initPoster()">
    <div ng-include="'/modules/posters/client/views/posters/poster-header.client.view.html'"></div>
    <div ng-include="'/modules/posters/client/views/posters/operate-poster.client.view.html'"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="text-right" ng-if="user && user.id == selectedPoster.userId">
                <span class="my-poster-operate" ng-click="editPoster()">
                    <i class="glyphicon glyphicon-pencil">修改</i>
                </span>
                <span class="my-poster-operate" ng-click="deletePoster()">
                    <i class="glyphicon glyphicon-trash">删除</i>
                </span>
            </div>
            <div class="poster-title" ng-if="selectedPoster.title">
                <span ng-bind="selectedPoster.title"></span>
            </div>
            <div class="poster-content" ng-if="selectedPoster.content">
                <p ng-bind="selectedPoster.content"></p>
            </div>
            <div ng-if="selectedPoster.medias.length">
                <div class="poster-image" ng-repeat="media in selectedPoster.medias">
                    <img class="center-block" ng-if="media.type==1" ng-src="{{media.mediaUrl}}">
                    <video class="center-block" controls="controls" ng-if="media.type==2" ng-src="{{media.mediaUrl}}" poster="{{media.thumbUrl}}"></video>
                </div>
            </div>
            <div class="poster-time">
                <em class="text-muted" ng-bind="selectedPoster.created | date: 'MMM d, y HH:mm:ss'"></em>
            </div>
        </div>
        <div ng-show="commentsInit" class="col-xs-10 col-xs-offset-1">
            <form name="commentForm" ng-submit="publishComment('commentForm', commentForm.$valid)" novalidate>
                <div class="form-group">
                    <div show-errors="skipFormGroupCheck">
                        <label for="description">评论</label>
                        <textarea id="description" name="description" class="form-control" ng-model="comment.content" rows="3" placeholder="" required></textarea>
                        <div ng-messages="commentForm.description.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">请输入内容</p>
                        </div>
                    </div>
                </div>
                <div class="text-right form-group">
                    <button type="submit" class="btn btn-primary">评论</button>
                </div>
            </form>
            <div class="row poster-comments">
                <div class="col-xs-offset-1 col-xs-10 poster-comment" ng-repeat="comment in commentsList">
                    <div>
                        <a ui-sref="poster.list({username: comment.username})"><span ng-bind="comment.displayName"></span></a><span>：</span>
                        <span ng-bind="comment.content"></span>
                    </div>
                    <div class="text-muted" ng-bind="comment.created | date: 'MMM d, y HH:mm:ss'"></div>
                </div>
            </div>
        </div>
    </div>
</section>
