<section ng-controller="HomeController">
  <div class="gallery-container">
    <img src="/modules/core/client/img/home/1.jpeg"/>
    <img src="/modules/core/client/img/home/2.jpeg"/>
    <img src="/modules/core/client/img/home/3.jpeg"/>
    <img src="/modules/core/client/img/home/4.jpeg"/>
    <img src="/modules/core/client/img/home/5.jpeg"/>
    <img src="/modules/core/client/img/home/6.jpeg"/>
    <img src="/modules/core/client/img/home/7.jpeg"/>
    <img src="/modules/core/client/img/home/8.jpeg"/>
    <img src="/modules/core/client/img/home/9.jpeg"/>
  </div>
  <div class="gallery-icon">
    <a href="/poster/list/qing">
      <img src="/modules/core/client/img/home/gallery.jpeg"/>
    </a>
  </div>

</section>
